  @import "tailwindcss/base";
  @import "tailwindcss/components";
  @import "tailwindcss/utilities";

::-webkit-scrollbar {
    background-color: #f8ebeb;     /*barre de defilement*/
    width: 13px;
  }
  ::-webkit-scrollbar-thumb {  /*remplissage de la barre*/
    background-color: #f5c6c6;
  }
  ::-webkit-scrollbar-thumb:hover { /*remplissage de la barre lorsque le curseur est au dessus */
    background-color: #ee8989;
  }





body {
background-color: #C9BDBD;
padding:0;
margin:0;

}
.banner {
    background-image: url('productivity.jpg') ;
    height: 300px;
    
}
#banniere {
    position:absolute;
    top: 50px; 
    left:50px;
}


.apropos {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  position : absolute;
  top:60px;
  left:700px ;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;

  transition: border .1s ease-in-out,box-shadow .1s ease-in-out;
  opacity: 0;
  animation: fadeIn 1s ease 1s forwards;
  

}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.contact { 
    align-items: center;
    background-color: #FFE7E7;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    position : absolute;
    top:100px;
    left:980px ;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;

    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    opacity: 0;
    animation: fadeIn 2s ease 2s forwards;
  
  }
  #produc {
    position: absolute;
    top:300px;
    left:0;
  }
  #timeuh {
    position: absolute;
    top:300px;
    left:874px;
  }
  @keyframes changer-couleur {    /*option changement de couleurs d'un titre*/
    0% { color: rgb(96, 42, 60); }
    25% { color: rgb(58, 36, 102) ; }
    50% { color: rgb(20, 24, 70); }
    75% { color: rgb(10, 64, 74) }
    100% { color: rgb(18, 1, 1); }
  }
  
  h1 {   /*reglages de l'animation CSS*/
    animation-name: changer-couleur; /*ajimation citee precedement*/
    animation-duration: 5s;  /*duree d'un boucle*/
    animation-iteration-count: infinite;   /*animation ne s'arrete pas*/
    position: absolute;
    top:360px;
    right:600px;
  }
  h2 {
    position:absolute;
    top:470px;
    right:400px;
  }